.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    width: 776px;
    height: 221px;
    background-color: rgba(255, 255, 255, 0.88);
}
.hero {
    width: 420px;
    height: 80px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.97px;
    color: #000000;
}