.icon-title {
    width: 665px;
    height: 35px;
    
    /* font-family: 'Helvetica Neue'; */
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height, or 117% */
    
    text-align: center;
    letter-spacing: 2.14px;
    text-transform: uppercase;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.icons-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    width: 488px;
    height: 127px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.icon-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 136px;
    height: 127px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.icon-logo {
    width: 77.42px;
    height: 60px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.icon-logo-name {
    width: 136px;
    height: 35px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    
    text-align: center;
    letter-spacing: 1.97px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}